* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #1f2937;
}

body {
  font-family: Roboto;
}

h1,
h2,
p {
  margin-bottom: 15px;
}

h1 {
  font-weight: bold;
  font-size: x-large;
  margin: 10px 20px;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.navbar a {
  text-decoration-line: none;
  color: white;
}

.navbar .container {
  height: 50px;
  background-color: #1f2937;
  color: white;
  justify-content: space-between;
}

header .container {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
li {
  margin: 0 30px;
}

.Sign-up {
  background-color: #3882f6;
  color: white;
  padding: 20px;
  width: 150px;
  border: 30px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 200px;
  width: auto;
  margin: 80px 80px;
}

.container .School {
  display: flex;
  background-color: pink;
  padding: 20px;
  height: 150px;
  color: grey;
}

footer {
  background-color: #1f2937;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
}
