* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

h2,
p {
  color: white;
}

h1 {
  font-weight: bold;
  font-size: x-large;
  font-style: italic;
  margin: 10px 20px;
}

.navbar a {
  text-decoration-line: none;
  color: white;
}

.navbar .container {
  height: 50px;
  background-color: #414f63;
  color: white;
  display: flex;
  justify-content: space-between;
}

header .container {
  background-color: #7da4db;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
li {
  margin: 0 10px;
}

.Summary .Items {
  border: 10px;
}

.Sign-up {
  background-color: blue;
  color: white;
  padding: 20px;
  width: 150px;
  border: 30px;
}

img {
  height: 100px;
  width: auto;
  margin: 80px 80px;
}

section .container {
  display: flex;
  background-color: pink;
  padding: 20px;
  height: 150px;
  color: grey;
}

footer {
  background-color: aqua;
  padding: 20px;
}
